{{ "\x1b[1m"}}AVAILABLE EXTENSIONS AND MODULES{{"\x1b[0m" }}
{{ range . }}
{{ . -}}
{{ end }}

{{ "\x1b[1m"}}REMARKS{{"\x1b[0m"}}

{{"\x1b[31m"}}(Not available){{"\x1b[0m"}} The module/extension is {{"\x1b[1m"}}not{{"\x1b[0m"}} enabled on your RMT/SMT
{{"\x1b[33m"}}(Activated){{"\x1b[0m"}}     The module/extension is activated on your system
