---
Installed Products:
{{- range . }}
  - Identifier: {{ .Identifier }}/{{ .Version }}/{{ .Arch }}
    Summary: {{ .Summary }}
    Status: {{ .Status }}
    {{- if .RegCode }}
    Subscription:
      Name: {{ .Name }}
      Regcode: {{ .RegCode }}
      Starts at: {{ .StartsAt }}
      Expires at: {{ .ExpiresAt }}
      Status: {{ .SubStatus }}
      Type: {{ .Type }}
    {{- end -}}
{{ end -}}
